# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/
.gradle

# other
eclipse/
*.suo
/.vs

Anaconda.lnk
build.bat
dist.bat
dist/
src/doddq/__pycache__/*
src/doddq.egg-info/*

/*/
!/src
